<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <!--<link rel="stylesheet" href="employees.component.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>
    <button type="button" style="margin:8px; margin-left: 80%;" class="btn btn-primary" (click)="LoginAdmin()">Admin Login</button> 
    <button type="button" style="margin:8px;" class="btn btn-primary" (click)="registerUser()">User Register</button> 
    <div>
        <div class="jumbotron" style="margin: 25px;">
            <h2 style="text-align: center;padding-top: 5%">Login</h2>
            <form #contactForm="ngForm" (ngSubmit)="validate_user(contactForm.value)" style="padding: 20px; width: 40%;">

              <div class="form-group">
              <label for="email">Phone</label><br>

               <input required ngModel name="email" type="text" #email="ngModel" class="form-control" id="email" placeholder="Phone" style="padding-right: 60px;margin-left: 80px">
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors?.required">First Name is required.</div>
                    </div>
               
                </div>

               <div class="form-group">
                <label for="passwd">Password</label><br>

              <input required ngModel name="passwd" type="password" #passwd="ngModel" class="form-control" id="passwd" placeholder="password"  style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"> 
               <div class="alert alert-danger" *ngIf="passwd.touched && !passwd.valid">
                <div *ngIf="passwd.errors?.required">Last Name is required.</div>
                </div>  
               
              </div>
              <br>
              <button id="login" class="btn btn-primary" type="submit" [class.disabled]="!contactForm.valid">Submit</button>      
            </form>
        </div>
    </div>

    <div *ngIf="isclicked&&!entered">Invalid Credentials</div>

</body>
</html>
