<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="jumbotron" style="margin: 45px">
        <h2 style="text-align: center;padding-top: 5%">Login</h2>
        <p style="text-align: center">Enter the registered E-mail address and the password!</p>
        <form (ngSubmit)="onSubmit()">
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
               E-mail <input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
                </div>
           <div class="container">
            <p style="text-align: center">
           Password <input type="password" name="email" placeholder="Password" required style="padding-right: 60px;margin-left: 15px"> <br>
            <button class="btn btn-primary" style="margin-top: 20px"> Login</button></p>          
          </div>
        
  
        </form>
  
    </div>
  
  
  
  </div>
</body>
</html>