<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>
    
<div class="container" >
  <nav style="margin-bottom: 30px;">
    <ul class="menu">
    <li><a routerLink="/employees">PORTAL</a></li>
    <li class="selected"><a routerLink="/home" class="link">Home</a></li>
    <li><a routerLink="/employees">Employees</a></li>
    <li style="margin-left: 760px;"><a routerLink="/login">Logout</a></li>

    </ul>
</nav>
<p>This is the home Page! Click on Employees link to view the full list!</p>
</div>
</body>
</html>